POSTGRES_USER=tickandsass
POSTGRES_PASSWORD=tickandsass
POSTGRES_DB=tickandsassproject

DB_USER=tickandsass
DB_PASSWORD=tickandsass
DB_HOST=database
DB_PORT=5432
DB_NAME=tickandsassproject
DATABASE_URL="postgresql://tickandsass:tickandsass@database:5432/tickandsassproject?schema=public"
